doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
  link(rel='stylesheet', href='/stylesheets/estructura.css')
  link(rel='stylesheet', href='/stylesheets/formulario.css')
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap')
  link(rel='icon', href='https://images.vexels.com/media/users/3/196341/isolated/preview/f00a8411a0fd49550fd3fd6e42638bfb-lupa-plana.png')
  title Agregar Documento
.header
  h1 Buscador Web
  .header-right
    if user
      .welcome-message Bienvenido/a, #{user.username}
    .header-right-buttons
      a(href="/" id="volver-form" title="Volver al buscador")
        button(type="button" id="volver" class="header-right-button")
          i.fa.fa-search
      form(action="/favoritos", method="POST")  
        button(type="submit" id="favoritos", title="Proyectos favoritos" class="header-right-button")
          i.fa.fa-heart
      form(action='/logout', method='POST')
        button(type="submit" id="cerrar-sesion", title="Cerrar sesión" class="header-right-button")
          i.fa.fa-sign-out
.main-content
  .box-grande
    .texto
      h1(class="titulo-form") Agregar Documento
      p En esta sección puede ingresar los datos necesarios para agregar un nuevo documento a la base de datos. Una vez agregado, será indexado y podrá aparecer en futuras búsquedas.
      p Los campos marcados con * son obligatorios
    form(action="/agregar-proyecto", method="POST", class="formulario")
      input(placeholder='Nombre del proyecto *', type='text', name='nombre', required)
      select(name='tipo', required)
        option(value='') Seleccione un tipo *
        option(value='Prizes and Awards') Premios
        option(value='Fellowships scholarships or trainings') Becas
        option(value='Research and publications') Investigación
        option(value='Travel and Conferences') Conferencias
      select(name='estatus', required)
        option(value='') Seleccione un estado *
        option(value='Abierto') Abierto
        option(value='Ongoing') En curso
        option(value='>4 meses') >4 meses
        option(value='Vencido') Vencido
      input(placeholder='Ubicación *', type='text', name='basedOn', required)
      textarea(placeholder='Descripción del proyecto', name='descripcion', rows='4')
      input(placeholder='Enlace del proyecto', type='url', name='link')
      button.boton(type='submit', class="boton-claro") Agregar
    script.
      document.addEventListener('DOMContentLoaded', () => {
        const selects = document.querySelectorAll('select');
        selects.forEach(select => {
          select.style.color = 'gray';
          select.addEventListener('change', function() {
            this.style.color = this.selectedIndex === 0 ? 'gray' : '#000';
          });
        });
      });
