doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
  link(rel="stylesheet", href="/stylesheets/estructura.css")
  link(rel='stylesheet' href='/stylesheets/formulario.css')
  link(rel='icon', href='https://images.vexels.com/media/users/3/196341/isolated/preview/f00a8411a0fd49550fd3fd6e42638bfb-lupa-plana.png')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap')
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  title Favoritos 
.header
  h1 Buscador Web
  .header-right
    if user
      .welcome-message Bienvenido/a, #{user.username}
    .header-right-buttons
      a(href="/" id="volver-form" title="Volver al buscador")
        button(type="button" id="volver" class="header-right-button")
          i.fa.fa-search
      a(href="/agregar-proyecto" id="agregar-proyecto" title="Agregar proyecto")
        button(type="button" class="header-right-button")
          i.fa.fa-plus
      form(action='/logout' method='POST')
        button(type="submit" id="cerrar-sesion" title="Cerrar sesión" class="header-right-button")
          i.fa.fa-sign-out
.main-content
  .box-grande
    .texto
      h1(class="titulo-form") Favoritos
      p En esta sección puede registrar sus búsquedas favoritas. Recibirá un email cada vez que se agregue una tupla que coincida con alguna de sus búsquedas.
    form(action="/setearFavoritos", method="POST", class="formulario")
      input(placeholder='Ingrese su búsqueda', type='text', name='searchQuery')
      select(name='Estado')
        option(value='') Seleccione un estado
        option(value='Abierto') Abierto
        option(value='Ongoing') Ongoing
        option(value='>4 meses') >4 meses
        option(value='Vencido') Vencido
      select(name='Ubicacion')
        option(value='') Seleccione una ubicacion
        option(value='USA') USA
        option(value='Argentina') Argentina
        option(value='Belgium') Belgica
        option(value='Canada') Canada
      select(name='Area')
        option(value='') Seleccione un area
        option(value='Biochemistry Genetics and Molecular Biology') Bioquimica
        option(value='Agricultural and Biological Sciences') Agricultura
        option(value='Medicine and Health Sciences') Medicina
        option(value='Engineering') Ingenieria
      select(name='Tipo')
        option(value='') Seleccione un tipo
        option(value='Prizes and Awards') Premios
        option(value='Fellowships scholarships or trainings') Becas
        option(value='Research and publications') Investigacion
        option(value='Travel and Conferences') Conferencias
      input.boton(type='submit', value='Guardar como favorita')
    script.
      document.addEventListener('DOMContentLoaded', function() {
        const selects = document.querySelectorAll('select');
        selects.forEach(select => {
            select.addEventListener('change', function() {
                if (this.selectedIndex === 0) {
                    this.style.color = 'gray';
                } else {
                    this.style.color = '#eee';
                }
            });
            if (select.selectedIndex === 0) {
                select.style.color = 'gray';
            } else {
                select.style.color = '#eee';
            }
        });
      });
