doctype html
html
  head
    title Buscador
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap')
    link(rel="stylesheet", href="/stylesheets/index.css")
    link(rel="stylesheet", href="/stylesheets/estructura.css")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    link(rel='icon' href='https://images.vexels.com/media/users/3/196341/isolated/preview/f00a8411a0fd49550fd3fd6e42638bfb-lupa-plana.png')
  body
    include messages
    block content
  script(src='https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js')
  script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@4')
  script.
    const search = instantsearch({
      indexName: "Proyectos",
      searchClient: instantMeiliSearch(
        "http://localhost:7700"
      ).searchClient
    });
    search.addWidgets([
      instantsearch.widgets.searchBox({
        container: "#searchbox",
        placeholder: "Buscar..."
      }),
      instantsearch.widgets.configure({ 
        hitsPerPage: 10
      }),
      instantsearch.widgets.hits({
        container: "#hits",
        templates: {
          item: `
          <div class="proyecto">
            <div class="hit-name">
                {{#helpers.highlight}}{ "attribute": "nombre" }{{/helpers.highlight}}
            </div>
            <div class="hit-description">
                <span class="fixed-text">Estado</span>
                {{#helpers.highlight}}{ "attribute": "estatus" }{{/helpers.highlight}}
            </div>
            <div class="hit-description">
                <span class="fixed-text">Ubicación</span>
                {{#helpers.highlight}}{ "attribute": "basedOn" }{{/helpers.highlight}}
            </div>
            <div class="hit-description">
                <span class="fixed-text">Área</span>
                {{#helpers.highlight}}{ "attribute": "granArea1" }{{/helpers.highlight}}
            </div>
            <div class="hit-description">
                <span class="fixed-text">Tipo</span>
                {{#helpers.highlight}}{ "attribute": "tipo" }{{/helpers.highlight}}
            </div>
          </div>
          `
        }
      })
    ]);

    search.start();

    document.querySelectorAll('.filterCheckbox').forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        //Obtenemos todos los checkboxes
        const checkboxes = document.querySelectorAll('.filterCheckbox');
        let filters = [];

        //Creamos la cadena de filtros combinando los valores de los checkboxes seleccionados
        checkboxes.forEach(function(cb) {
          if (cb.checked) {
            filters.push(`${cb.dataset.filter} = "${cb.value}"`);
          }
        });

        //Configuramos los filtros en la búsqueda
        search.addWidgets([
          instantsearch.widgets.configure({
            filters: filters.join(' AND ')
          }),
        ]);

        //Actualizamos la búsqueda
        search.refresh();
      });
    });

    document.getElementById('toggle-filters').addEventListener('click', function() {
      document.querySelector('.sidebar').classList.toggle('open');
      document.querySelector('.main-content').classList.toggle('shifted');
    });
