.sidebar-container
  button(id="toggle-sidebar" title="Mostrar menú")
    i.fa.fa-bars
  .sidebar
    .sidebar-buttons
      a(href="/" id="volver" title="Volver al inicio")
        button(type="button" class="sidebar-button")
          i.fa.fa-search
          span Inicio
      button(type="button" id="favoritos" title="Guardar búsqueda" class="sidebar-button")
        i.fa.fa-bell
        span Notificaciones
      button(type="button" id="agregar" title="Agregar proyecto" class="sidebar-button")
        i.fa.fa-plus
        span Agregar Documento
    if showFilters && filterableAttributes && filterableAttributes.length > 0
      .filters
        h2 Filtros
        each attribute in filterableAttributes
          div(class=`filters_${attribute}`)
            details
              summary
                span= attribute.charAt(0).toUpperCase() + attribute.slice(1).replace(/([A-Z])/g, ' $1')
              ul.filter-list 