doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
  link(rel='stylesheet' href='/stylesheets/favoritos.css')
  link(rel='icon', href='https://imgs.search.brave.com/zYwTc5Kz-3WUCYqsaFVhnT1wuX4woh9h0x1D6JDBJ-0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9naXRo/dWIuY29tL21laWxp/c2VhcmNoL21laWxp/c2VhcmNoL3Jhdy9t/YWluL2Fzc2V0cy9s/b2dvLnN2Zw.svg')
  title Proyectos favoritos 
.header
  h1 Buscador de Proyectos de Investigaci&oacute;n
  a(href='/') Volver al Buscador
  form(action='/logout', method='POST')
    button(type='submit') Cerrar sesi&oacute;n
.sidebar
  h2 Filtros Favoritos
.main-content
  | En esta secci&oacute;n puede registrar sus b&uacute;squedas favoritas.
  | Recibir&aacute; un email cada vez que se agregue un proyecto que coincida con alguna de sus b&uacute;squedas.
  form(action="/setearFavoritos", method="POST")
    input(placeholder='Ingrese su búsqueda', type='text', name='searchQuery')
    input.boton(type='submit', value='Guardar como Favorita')
