doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
  link(rel='stylesheet' href='/stylesheets/favoritos.css')
  link(rel='icon', href='https://imgs.search.brave.com/zYwTc5Kz-3WUCYqsaFVhnT1wuX4woh9h0x1D6JDBJ-0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9naXRo/dWIuY29tL21laWxp/c2VhcmNoL21laWxp/c2VhcmNoL3Jhdy9t/YWluL2Fzc2V0cy9s/b2dvLnN2Zw.svg')
  title Proyectos favoritos 
.header
  h1 Buscador de Proyectos de Investigación
  if user
    .welcome-message Bienvenido, #{user.username}
  a(href='/' id="volver") Volver al Buscador
  form(action='/logout', method='POST')
    button(type="submit" id="cerrar-sesion") Cerrar sesión
.main-content
  p En esta sección puede registrar sus búsquedas favoritas. Recibirá un email cada vez que se agregue un proyecto que coincida con alguna de sus búsquedas.
  form(action="/setearFavoritos", method="POST")
    input(placeholder='Ingrese su búsqueda', type='text', name='searchQuery')
    select(name='Estado')
      option(value='') Seleccione un estado
      option(value='Abierto') Abierto
      option(value='Ongoing') Ongoing
      option(value='>4 meses') >4 meses
      option(value='Vencido') Vencido
    select(name='Ubicacion')
      option(value='') Seleccione una ubicacion
      option(value='USA') USA
      option(value='Argentina') Argentina
      option(value='Belgium') Belgica
      option(value='Canada') Canada
    select(name='Area')
      option(value='') Seleccione un area
      option(value='Biochemistry Genetics and Molecular Biology') Bioquimica
      option(value='Agricultural and Biological Sciences') Agricultura
      option(value='Medicine and Health Sciences') Medicina
      option(value='Engineering') Ingenieria
    select(name='Tipo')
      option(value='') Seleccione un tipo
      option(value='Prizes and Awards') Premios
      option(value='Fellowships scholarships or trainings') Becas
      option(value='Research and publications') Investigacion
      option(value='Travel and Conferences') Conferencias
    input.boton(type='submit', value='Guardar como favorita')
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const selects = document.querySelectorAll('select');
      selects.forEach(select => {
          select.addEventListener('change', function() {
              if (this.selectedIndex === 0) {
                  this.style.color = 'gray';
              } else {
                  this.style.color = '#eee';
              }
          });
          // Set initial color
          if (select.selectedIndex === 0) {
              select.style.color = 'gray';
          } else {
              select.style.color = '#eee';
          }
      });
    });
