doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/templates/basic_search.css')
  body
    h1 Buscador de Proyectos de Investigacion
    .wrapper
      button#filter-button(type='button') Mostrar Proyectos Vencidos
      #searchbox(focus)
      #hits
    //Agregamos el botón de cerrar sesión
    form(action="/logout", method="POST")
      button(type="submit") Cerrar sesión
    script(src='https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js')
    script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@4')
    script.
      const search = instantsearch({
      indexName: "Proyectos",
      searchClient: instantMeiliSearch(
      "http://localhost:7700"
      ).searchClient
      });
      search.addWidgets([
      instantsearch.widgets.searchBox({
      container: "#searchbox"
      }),
      instantsearch.widgets.configure({ hitsPerPage: 8 }),
      instantsearch.widgets.hits({
      container: "#hits",
      templates: {
      item: `
      <div>
      <div class="hit-name">
      {{#helpers.highlight}}{ "attribute": "nombre" }{{/helpers.highlight}}
      </div>
      </div>
      `
      }
      })
      ]);
      search.start();