extends layout

block content
  .sidebar
    h1 Buscador de Proyectos de Investigación

    h2 Filtros de Búsqueda
    .filters
      .filters_estatus
        h3 Estatus
        ul
          li
            p Abierto
            input(type="checkbox" class="filterCheckbox" value="Abierto" data-filter="estatus")
          li    
            p Ongoing
            input(type="checkbox" class="filterCheckbox" value="Ongoing" data-filter="estatus")
          li    
            p +4 meses
            input(type="checkbox" class="filterCheckbox" value=">4 meses" data-filter="estatus")
      .filters_based-on
        h3 Based On
        ul
          li
            p USA
            input(type="checkbox" class="filterCheckbox" value="USA" data-filter="basedOn")
          li
            p Australia
            input(type="checkbox" class="filterCheckbox" value="Australia" data-filter="basedOn")
          li
            p Belgium
            input(type="checkbox" class="filterCheckbox" value="Belgium" data-filter="basedOn")
          li
            p Canada
            input(type="checkbox" class="filterCheckbox" value="Canada" data-filter="basedOn")
    form(action="/logout", method="POST")  
      button(type="submit") Cerrar sesión

  .main-content
    .wrapper
      #searchbox(focus='')
      #hits
