doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel="stylesheet", href="/stylesheets/index.css")
    link(rel='icon' href='https://imgs.search.brave.com/zYwTc5Kz-3WUCYqsaFVhnT1wuX4woh9h0x1D6JDBJ-0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9naXRo/dWIuY29tL21laWxp/c2VhcmNoL21laWxp/c2VhcmNoL3Jhdy9t/YWluL2Fzc2V0cy9s/b2dvLnN2Zw.svg')
  body
    block content
  script(src='https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js')
  script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@4')
  script.
    const search = instantsearch({
      indexName: "Proyectos",
      searchClient: instantMeiliSearch(
        "http://localhost:7700"
      ).searchClient
    });
    search.addWidgets([
      instantsearch.widgets.searchBox({
        container: "#searchbox"
      }),
      instantsearch.widgets.configure({ 
        hitsPerPage: 8 
      }),
      instantsearch.widgets.hits({
        container: "#hits",
        templates: {
          item: `
            <div class="hit-name"> Nombre: 
                {{#helpers.highlight}}{ "attribute": "nombre" }{{/helpers.highlight}}
            </div>
            <div class="hit-description"> Estado: 
                {{#helpers.highlight}}{ "attribute": "estatus" }{{/helpers.highlight}}
            </div>
            <div class="hit-description"> Ubicación:
                {{#helpers.highlight}}{ "attribute": "basedOn" }{{/helpers.highlight}}
            </div>
            <div class="hit-description"> Área:
                {{#helpers.highlight}}{ "attribute": "granArea1" }{{/helpers.highlight}}
            </div>
            <div class="hit-description"> Tipo:
                {{#helpers.highlight}}{ "attribute": "tipo" }{{/helpers.highlight}}
            </div>
          `
        }
      })
    ]);
    search.start();

    document.querySelectorAll('.filterCheckbox').forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        // Obtener todos los checkboxes
        const checkboxes = document.querySelectorAll('.filterCheckbox');
        let filters = [];

        // Crear la cadena de filtros combinando los valores de los checkboxes seleccionados
        checkboxes.forEach(function(cb) {
          if (cb.checked) {
            filters.push(`${cb.dataset.filter} = "${cb.value}"`);
          }
        });

        // Configurar los filtros en la búsqueda
        search.addWidgets([
          instantsearch.widgets.configure({
            filters: filters.join(' AND ')
          }),
        ]);

        // Actualizar la búsqueda
        search.refresh();
      });
    });
