doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/stylesheets/login.css')
    link(rel='icon' href='https://imgs.search.brave.com/zYwTc5Kz-3WUCYqsaFVhnT1wuX4woh9h0x1D6JDBJ-0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9naXRo/dWIuY29tL21laWxp/c2VhcmNoL21laWxp/c2VhcmNoL3Jhdy9t/YWluL2Fzc2V0cy9s/b2dvLnN2Zw.svg')
    title Sign Up
  body
    .box-grande
      h1 Buscador de Proyectos de Investigación
      h2 Creado por Franco Caraffo y Gonzalo Librandi
      span Potenciado por Meilisearch
      img(src='https://imgs.search.brave.com/zYwTc5Kz-3WUCYqsaFVhnT1wuX4woh9h0x1D6JDBJ-0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9naXRo/dWIuY29tL21laWxp/c2VhcmNoL21laWxp/c2VhcmNoL3Jhdy9t/YWluL2Fzc2V0cy9s/b2dvLnN2Zw.svg' alt='')
      if message
        p.error-message= message
      form(action='/signup', method='POST')
        h3 Registrarse
        input(type='text' name='username' placeholder='Nombre de Usuario' required='')
        input(type='password' name='password' placeholder='Contraseña' required='')
        input(type='password' name='passwordRep' placeholder='Repeti tu contraseña' required='')
        input.boton-enviar(type='submit')
      p ¿Ya tenes usuario? 
      a(href='/login') Ingresa
      br
      a(href='/auth/facebook') Ingresa con Facebook
