/* Barra lateral */
.sidebar-container {
  position: relative;
}

.sidebar {
  z-index: 10;
  background-color: #ffffff;
  color: #05294d;
  padding: 20px;
  padding-top: 15vh;
  position: fixed;
  top: 0;
  left: -300px; /* Comienza fuera de la pantalla */
  height: 100vh; /* Altura completa */
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Animación de deslizamiento */
}

#toggle-filters {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 100; 
}

#toggle-filters:hover {
  background-color: #2563eb; /* Azul más oscuro */
}

/* Estilo de los filtros */
.filters {
  margin-top: 20px;
}

.filters details {
  margin-bottom: 15px;
}

.filters summary {
  font-weight: bold;
  cursor: pointer;
}

.filters ul {
  list-style-type: none;
  padding-left: 0;
}

.filters li {
  margin: 8px 0;
}

.filters input[type="checkbox"] {
  margin-left: 10px;
}

/* Animación de la barra lateral (ocultarla o mostrarla) */
.sidebar.open {
  transform: translateX(300px); /* Mueve la barra lateral hacia la derecha */
}

/* Main content */
.main-content {
  padding-left: 50px;
  flex: 1;
  background-color: #05294d; /* Fondo gris claro */
}

/*Movimiento de las búsquedas al abrir/cerrar los filtros*/
/*
.main-content.shifted {
  transform: translateX(280px);
  transition: transform 0.3s ease;
} 
*/

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.proyecto {
  border: 2px solid #93b0ee;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
}

.hit-name {
  font-size: 18px;
  font-weight: bold;
}

.hit-description .fixed-text {
  color: #93b0ee;
}


/* Responsive design */
@media (max-width: 768px) {

  .main-content {
    margin-left: 0;
  }

  .header {
    height: 15vh;
  }

  .header-right {
    flex-direction: column;
  }

  h1 {font-size: 24px;}

  .sidebar {
    padding-top: 20vh;
  }
  
}

@media (max-width: 480px) {

}


/* Barra de busqueda /

  
  / Color de texto mientras escribimos /
  .ais-SearchBox-input:focus{ 
  color:#e3e5ec; 
}

/ Cuadrado de la lupa en la barra del buscador /
.ais-SearchBox-submit { 
  width: 40px;
  height: 36px;
  border: 3px solid #f03774;
  background: #111;
  text-align: center;
  color: #fff !important;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  right: 0;
  position: relative;
  box-sizing: border-box;
  top: 50%;
  left: 0;
  padding: 0;
  user-select: none;
  transform: translateY(-50%);
  cursor: pointer;
  }
*/

#searchbox {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 16px;
  padding: 12px;
}

.ais-SearchBox-input {
  width: 100%;
  font-family: "DM Sans";
  font-size: 16px;
  padding-left: 8px;
  border-radius: 8px;
  outline: none;
}

.ais-SearchBox-input:hover {
  box-shadow: 0 0 15px #e3e5ec;
  transition: .3s ease;
}

.ais-SearchBox {
  width: 100%;
  display: flex;
}

.ais-SearchBox-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.ais-SearchBox-submitIcon { 
  width: 24px;
  height: 24px;
}

.ais-SearchBox-submit svg path { 
  fill: #e3e5ec;
}

.ais-SearchBox-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 50px;
  display: none;
}
/* Cruz de la barra del buscador */
.ais-SearchBox-resetIcon { 
  position: absolute;
  left: -20px;
  width: 12px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  fill: #e3e5ec;
}