/* Establecer el fondo general */
body {
    font-family: "DM Sans";
    background-color: #05294d; /* Azul oscuro */
    color: #eeeeee; /* Negro suave */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    height: 10vh;
    background-color: #d5dfff;
    color: #05294d;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 20;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;  
    gap: 10px;
}

.header-right-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;  
    gap: 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #05294d; /* Azul brillante */
}

.welcome-message {
    font-size: 16px;
    color: #05294d;
}

.main-content {
    margin: auto;
    width: 90%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-family: "DM Sans";
    background-color: #05294d;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #2563eb;
}

.boton-claro {
    color: #05294d;
    font-weight: bold;
    background-color: #9bb1fc;
}

/* Estilo del formulario */
.formulario {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    width: 100%; /* Asegura que no se pase del contenedor */
  }
  
input,
select,
textarea {
    font-family: "DM Sans";
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    resize: vertical;
}
  

/* Responsive design */
@media (max-width: 768px) {
  
  
    .header-right {
      flex-direction: column;
    }

    button {
        padding: 5px 10px;
        font-size: 16px;
        margin: 3px;
    }

    h1 {font-size: 24px;}
    
  }