* {
  list-style: none;
}

.sidebar {
  z-index: 10;
  color: #eee;
  backdrop-filter: blur(5px) brightness(0.3);
  padding: 20px;
  padding-top: 14vh;
  position: fixed;
  top: 0;
  left: -300px;
  height: 100vh;
  transition: transform 0.3s ease;
}

/*BOTÓN PARA MOSTRAR LOS FILTROS*/
#toggle-filters {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 16px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 24px;
  z-index: 100; 
}

#toggle-filters:hover {
  transition: .3s ease;
  background-color: #2563eb; /* Azul más oscuro */
}

h2 {
  font-size: 18px;
  text-decoration: underline;
}

.filters {
  margin-top: 24px;
  padding-left: 16px;
}

.filters details {
  margin-bottom: 24px;
}

.filters summary {
  cursor: pointer;
  list-style-type: disclosure-closed;
}

.filters summary:hover {
  text-decoration: underline;
}

.filters ul {
  padding-left: 10px;
}

.filters li {
  margin: 8px 0;
  list-style: none;
}

.filters input[type="checkbox"] {
  margin-left: 10px;
}

/* Animación de la barra lateral (ocultarla o mostrarla) */
.sidebar.open {
  transform: translateX(300px);
}

/*CONTENEDOR DE LOS RESULTADOS*/
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*BLOQUE DE CADA RESULTADO*/
.proyecto {
  border-radius: 12px;
  padding: 12px 16px;
  margin: 16px 0px;
  background-color: #fff;
  width: 60vw;
  max-width: 800px;
}

/*NOMBRE DE LOS RESULTADOS*/
.hit-name {
  font-size: 18px;
  font-weight: bold;
  color: #05294d;
  padding-bottom: 4px;
}

/*NOMBRE DE LAS PROPIEDADES DE LOS RESULTADOS*/
.fixed-text {
  color: #05294d;
}

/*VALOR DE LAS PROPIEDADES*/
.hit-description {
  color: #3b82f6;
}

/*TEXTO DE LA BARRA DE BÚSQUEDA*/
.ais-SearchBox-input{ 
  color:#e3e5ec; 
}

.ais-SearchBox-submit {
  display: none;
}

#searchbox {
  width: 95%;
  min-width: 500px;
  display: flex;
  margin: 0 auto;
  margin-top: 16px;
  padding: 16px;
}

.ais-SearchBox-input::placeholder {
  color: #eee;
}

.ais-SearchBox-input {
  width: 106%;
  font-family: "DM Sans";
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
}

.ais-SearchBox-input:hover {
  box-shadow: 0 0 8px #e3e5ec;
  transition: .3s ease;
}

.ais-SearchBox {
  width: 100%;
}


.ais-SearchBox-submit svg path { 
  fill: #e3e5ec;
}

.ais-SearchBox-reset {
  display: none;
}

/* Cruz de la barra del buscador */
.ais-SearchBox-resetIcon { 
  cursor: pointer;
  fill: #e3e5ec;
}

/* Responsive design */
@media (max-width: 768px) {

  .main-content {
    margin-left: 0;
  }

  .header-right {
    flex-direction: column;
  }

  h1 {font-size: 24px;}

  #searchbox {
    min-width: 200px;
  }

}
