* {
  list-style: none;
}

/*CONTENEDOR DE LOS RESULTADOS*/
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*BLOQUE DE CADA RESULTADO*/


/*NOMBRE DE LOS RESULTADOS*/
.hit-name {
  font-size: 18px;
  font-weight: bold;
  color: #05294d;
  padding-bottom: 4px;
}

/*NOMBRE DE LAS PROPIEDADES DE LOS RESULTADOS*/
.fixed-text {
  color: #05294d;
}

/*VALOR DE LAS PROPIEDADES*/
.hit-description {
  color: #3b82f6;
}

/*TEXTO DE LA BARRA DE BÚSQUEDA*/
.ais-SearchBox-input{ 
  color:#e3e5ec; 
}

.ais-SearchBox-submit {
  display: none;
}

#searchbox {
  width: 95%;
  min-width: 500px;
  display: flex;
  margin: 0 auto;
  margin-top: 16px;
  padding: 16px;
}

.ais-SearchBox-input::placeholder {
  color: #eee;
}

.ais-SearchBox-input {
  width: 106%;
  font-family: "DM Sans";
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
}

.ais-SearchBox-input:hover {
  box-shadow: 0 0 8px #e3e5ec;
  transition: .3s ease;
}

.ais-SearchBox {
  width: 100%;
}


.ais-SearchBox-submit svg path { 
  fill: #e3e5ec;
}

.ais-SearchBox-reset {
  display: none;
}

/* Cruz de la barra del buscador */
.ais-SearchBox-resetIcon { 
  cursor: pointer;
  fill: #e3e5ec;
}

/* Responsive design */
@media (max-width: 768px) {

  .main-content {
    margin-left: 0;
  }

  .header-right {
    flex-direction: column;
  }

  h1 {font-size: 24px;}

  #searchbox {
    min-width: 200px;
  }

}
